/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}
body {
    line-height:1;
    font-size:100%;
    font-family:'Open Sans', sans-serif;
    color:#5a5a5a;
}
#container {
    width: 980px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
}
/* header */
header {
    padding: 20px;
}
header h1 {
    margin: 20px 10px;
    color: #b5b5b5;
}
/* navigasi */
nav {
    display: block;
    background-color: #1f5faa;
}
nav a {
    padding: 15px 30px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
} 
nav a.active,
nav a:hover {
    background-color: #2b83ea;
}
/* about */
.about {
    clear:left;
  }
  
  .about,
  .contact {
    padding: 2rem 7% 1.4rem;
  }
  
  .about h2,
  .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  
  .about .row {
    display: flex;
  }
  
  .about .row .about-img {
    flex: 1 1 45rem;
  }
  
  .about .row .about-img img {
    width: 100%;
    border-radius: 100px 0 0 100px ;
  }
  
  .about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
  }
  
  .about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.6;
  }

  /* footer */
footer {
    clear:both;
    background-color:#1d1d1d;
    padding:20px;
    color:#eee;
    }
  